<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="atos.bull.net.codingdojosession1" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity android:name=".SaveMyBattery" android:label="@string/saveMyBattery">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
            </intent-filter>
        </activity>

        <service android:name=".CheckBatteryLife" android:enabled="true"/>

        <receiver android:name=".PowerConnectionReceiver">
            <intent-filter>
                <action android:name="codingDojo1.BATTERY_LOW" />
                <action android:name="codingDojo1.BATTERY_OK" />
            </intent-filter>
        </receiver>
    </application>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
</manifest>
